@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors as HSL for easy theming */
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 11% 96%;
  --secondary-foreground: 240 5.9% 10%;

  --muted: 210 11% 96%;
  --muted-foreground: 240 3.8% 46.1%;

  --accent: 210 11% 96%;
  --accent-foreground: 240 5.9% 10%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 215 20.2% 65.1%;

  --radius: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply antialiased;
  }
  body {
    color: hsl(var(--foreground));
    background: hsl(var(--background));
    @apply min-h-screen font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
